body {
  margin: 0;
  font-family: helvetica;
  font-size: 22px;
  color: whitesmoke;
  background-color: black;
  opacity: 0.9;

}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  padding-right: 30px;
}

.logo img {
height: 50px;
margin-right: 10px;
padding-left: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: white;
  text-decoration: underline;
}

.mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.mission-statement {
  background-color: black ;
  justify-content: center;
  margin-top: 350px;
  font-weight: bold;

}

.mission-statement h4 {
  padding-bottom: 10px;
}

.mission-statement h2 {
  padding-top: 10px;
}


.content {
  display: flex;
  flex-direction: column;
}

.tea-header {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.all-images {
  display: flex;
  flex-direction: column;

  padding: 50px 100px;
  padding-left:
}

.all-images img {
  height: 200px;
  width: 300px;
  border: solid;
  border-color: whitesmoke;
  border-width: thick;
}

.top-teas {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
}

.bottom-teas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 500px;

}
.myrtle-tea {
  padding-right: 50px;

}

.bizarre-tea {
  padding-left: 30px;
}

.featured-tea {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}


.featured-tea h4 {
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
  padding-top: 20px;
}

.location h2 {
  padding-bottom: 15px;
}

.location {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  border: solid;
  border-color: whitesmoke;
  border-width: thick;
}

.cities {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: white;
  height: 300px;
  opacity: 1;
}

.cities h4 {
  justify-content: space-around;
}

.downtown {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 100px;
  background-color: black;
}

.East-bayside {
  display: flex;
  flex-direction:  column;
  background-color: black;
  width: 300px;
}

.oakdale {
 display: flex;
 flex-direction: column;
 background-color: black;
 width: 300px;
 margin-right: 100px;

}

.footer-top {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.footer-bottom {
  padding-left: 20px;
  text-align: left;
}
